{% extends 'KODBURG/shablon_main.html' %}

{% block title %}{{i.title}}{% endblock title %}

{% block content %}

<div class="row justify-content-center align-items-center list g-2" id="{{i.title}}">
      <div class="row justify-content-center align-items-center">
        <h3 class="col-12 text-center">{{i.title}}</h3>
        {% if i.img.url != "/media/User/blog/enter.png" %}
        <img src="{{i.img.url}}" alt="" />
        {% endif %}
        <div class="col-12 p-3" style="word-break: break-all;">{{i.text}}</div>

        <h6 class="col-12">{{i.date}}</h6>
        <a
          class="a_black text-decoration-underline"
          href="{% url 'other_user' i.username.username i.username.id %}"
          role="button"
          >{{i.username.username}}</a
        >
        <div class="row justify-content-start align-items-center g-2">
        {% if user != i.username %}
          {% if user in i.like.all %}
            <a id="{{i.id}}" name="blog" class="btn btn-danger col-2 like" role="button">{{i.like.count}}</a>
          {% else %}
            <a id="{{i.id}}" name="blog" class="btn btn-outline-danger col-2 a_like like" role="button">{{i.like.count}}</a>
          {% endif %}
            {% if user in i.dislike.all %}
              <a id="{{i.id}}" name="blog" class="btn btn-dark col-2" role="button dislike">{{i.dislike.count}}</a>
            {% else %}
              <a id="{{i.id}}" name="blog" class="btn btn-outline-dark col-2 a_dislike dislike" role="button">{{i.dislike.count}}</a>
          {% endif %}
        {% else %}
        <div class="row justify-content-start align-items-center g-2">
          <div id="" class="btn btn-danger col-2" role="button">{{i.like.count}}</div>
          <div id="" class="btn btn-dark col-2" role="button">{{i.dislike.count}}</div>
        </div>
        {% endif %}
      </div>
      </div>
      <form
        method="POST"
        class="row justify-content-center align-items-center border-top border-bottom m-3 g-2"
        enctype="multipart/form-data"
      >
        <h4 class="col-12 align-self-center">Оставьте свой комментарий</h4>
        {% csrf_token %}
        <fieldset>
          <select
            name="blog"
            class="vTextField"
            maxlength="255"
            required=""
            style="visibility: hidden; display: none"
            id="id_blog"
          >
            <option value="{{i.id}}">{{i}}</option>
          </select>

          {{form_blog.image}} {{form_blog.text}}
          <div class="row justify-content-center align-items-center g-2 m-2">
            <button type="submit" class="btn btn-success col-12">
              Отправить
            </button>
          </div>
        </fieldset>
      </form>
      <div class="row justify-content-center align-items-center g-2">
        {% for item in comments_blog %} 
        <div
          class="row justify-content-center align-items-center comm border-bottom g-2"
        >
          <div
            class="row justify-content-center align-items-center col-3 m-2 g-2"
          >
            <a
              class="row col-12"
              href="{% url 'other_user' item.author.username item.author.id %}"
            >
              <img src="{{item.author.image.url}}" alt="" class="col rounded-circle" />
            </a>
          </div>
          <div
            class="row justify-content-center align-items-center col m-0 p-0"
          >
            <div class="row align-self-center g-2">
              <a
                class="col text-decoration-underline a_black align-self-center"
                href="{% url 'other_user' item.author.username item.author.id %}"
                >{{item.author.username}}</a
              >
              <div class="col">{{item.date}}</div>
            </div>
            <div class="row justify-content-center align-items-center m-3">
              <div class="col">{{item.text}}</div>
            </div>
          </div>
          {% if item.image != "img/enter.png" %}
          <div class="row justify-content-center align-items-center border g-2">
            <img src="{{item.image.url}}" alt="" />
          </div>
          {% endif %}
        </div>
        
        
        {% empty %}
        <div class="row justify-content-center align-items-center g-2 text-center">
          <p class="col">Здесь пока нет комментариев</p>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock content %}