
{% extends 'KODBURG/shablon_main.html' %}
{% load static %}
{% block title %}
{% if User1 == user %}
{{User2.username}}
{% else %}
{{User1.username}}

{% endif %}
{% endblock title %}
{% block content %}

{% if user.username == User1.username or user.username == User2.username %}

{{room_name|json_script:"room-name"}}
{{room_id|json_script:"room-id"}}
{{user.username|json_script:"user_from"}}

{{user.image.url|json_script:"image"}}
{{user.pk|json_script:"my_id"}}

{% if User1 == user %}
  {{User2.id|json_script:"User_id"}}
  {{User2.username|json_script:"user_to"}}
  {% else %}
  {{User1.id|json_script:"User_id"}}
  {{User1.username|json_script:"user_to"}}

{% endif %}
<div class="row align-items-start flex-column g-2 p-0 list chat_log">

    {% for i in messages %}

      {% for key, value in date.items %}
        {% if value == i %}
          <div class="row justify-content-center align-items-center text-center g-2">
            <div class="col">{{i.time_send.date}}</div>
          </div>
        {% endif %}
      {% endfor %}

      {% if i.user_from == user %}
        {% if i.viewed %}
        <div class="msg_from col-12 read">
        {% else %}
        <div class="msg_from col-12">
        {% endif %}
          <div class="col-10 row align-self-start justify-content-end">
              <div class="row col-12 justify-content-end text-end">
                <div class="col">{{i.time_send.time}}</div>
                <div class="col text-decoration-underline">{{user.username}}</div>
              </div>
            <div class="col-12 message">{{i.message}}</div>
          </div>
          <div class="img">
            <img src="{{user.image.url}}" class="col" alt="">
          </div>
        </div>
      {% else %}
        {% if i.viewed %}
          <div class="msg_to col-12 read">
        {% else %}
          {% if i == non_viewed %}
            <div class="col-12 text-center">Новые сообщения!</div>
            <div class="msg_to col-12 first_message non_read">
          {% else %}
            <div class="msg_to col-12 non_read">
          {% endif %}
          <script class="non_viewed" type="application/json">{{i.pk}}</script>
        {% endif %}
            <div class="col-10 row align-self-start">
              <a class="col text-decoration-underline a_black a_link" href="{% url 'other_user' i.user_from.username i.user_from.id %}">{{i.user_from.username}}</a>
              <div class="col">{{i.time_send.time}}</div>
              <div class="col-12 message">{{i.message}}</div>
            </div>
            <div class="img">
              <img src="{{i.user_from.image.url}}" class="col" alt="">
            </div>
          </div>
      {% endif %}
    {% empty %}
      <h4 class='col-12 text-center no_messages'>Напишите первое сообщение!</h4>
    {% endfor %}

</div>
<div class="row justify-content-center align-items-center g-2">
  <textarea class="form-control" name="" id="chat_message" rows="1"></textarea>
</div>
<div class="row justify-content-center align-items-center g-2">
    <input name="" id="chat_button" class="btn btn-success" type="button" value="Отправить сообщение">
</div>



<script src={% static 'KODBURG/js/chat.js' %}></script>
{% else %}
<div class="row justify-content-center align-items-center g-2">
  <h3 class="col-12">Знаете, а читать чужие сообщения неприлично, {{user.username}}</h3>
</div>

{% endif %}

{% endblock content %}


