{% extends 'KODBURG/shablon_main.html' %}

{% block title %}
Подверждение отправленио
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center g-2 text-center">
        <h4 class="col-12">
            {% if error %}
            Произошла ошибка! Возможно ваш email несуществует. Вернитесь назад и введите верный email.
            {% else %}
            Письмо на почту {{user.email}} отправлено!<br>
            Когда получите его перейдите по ссылке, которая будет в письме, чтобы подтвердить свой email.
            {% endif %}
        </h4>
    </div>
</div>

{% endblock content %}