{% extends 'KODBURG/shablon.html' %} {% block title %} Вход {% endblock title %}
{% block content %}

<div class="container justify-content-center align-items-center">
  <div
    class="row justify-content-center align-items-center text-center"
    style="height: 50vh"
  >
    <h2 class="col-12">Форма входа на сайт</h2>
    <form action="" method="post">
      {% csrf_token %} {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
      </div>
      {% endif %}
      <div class="row justify-content-center align-items-center">
        {% for i in form %}
        <div class="form-error col-12">{{i.errors}}</div>
        <label
          for="{{i.id_for_label}}"
          class="from-label col-12"
          style="color: black !important"
          >{{i.label}}</label
        >
        {{i}} {% endfor %}
        <div class="row justify-content-center align-items-center">
          <button
            class="submit col-xxl-3 col-lg-5 col-md-8 col-sm-12"
            type="submit"
          >
            Войти
          </button>
        </div>
        <div class="row justify-content-center align-items-center g-2">
          <a
            name=""
            id=""
            class="text-decoration-underline a_black col-5"
            href="{% url 'search_lost_user' %}"
            >Забыли пароль?</a
          >
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
