{% extends 'KODBURG/shablon_main.html' %}
{% load static %}
{% block title %}Сообщения {{user.username}}{% endblock title %}

{% block content %}

<div class="row justify-content-center align-items-center flex-column all_chat">
    {% for key, value in chats.items %}
      {% if not value.viewed %}
        {% if value.user_to == user %}
          <a href="{% url 'chat' value.user_from.pk user.pk %}" class="row col-12 justify-content-between align-items-center g-2 border-bottom border-top p-3 flex-nowrap a_black list chat">
            <div class="img">
              <img src="{{value.user_from.image.url}}" class="col" alt="">
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="row justify-content-center align-items-center g-2">
                <div class="col a_black text-decoration-underline user_chat">{{value.user_from.username}}</div>
              </div>
              <div class="row col-12 justify-content-start last_chat_log">
              {% if value.last_message.viewed or value.last_message.user_from == value.user_to %}
                  <div class="col-10 text-start message" style="word-break: break-all;">{{value.last_message.user_from.username}}: {{value.last_message.message}}</div>
              {% elif value.last_message == "Напишите свое первое сообщение!" %}
              <div class="col-10 text-start message" style="word-break: break-all;">Напишите свое первое сообщение!</div>
              {% else %}
                  <div class="col-10 text-start message" style="word-break: break-all;">{{value.last_message.user_from.username}}:
                  {{value.last_message.message}}</div> <div class="new_mes"></div>
              {% endif %}
              </div>
            </div>
            <div class="room-name" style="display: none;">{{key}}</div>
            <script class="User_id" type="application/json">{{value.user_from.pk}}</script>
          </a>
          
        {% elif value.user_from == user %}
          <a href="{% url 'chat' user.pk value.user_to.pk %}" class="row col-12 justify-content-start align-items-start g-2 border-bottom border-top p-3 flex-nowrap a_black list chat">
            <div class="img">
              <img src="{{value.user_to.image.url}}" class="col" alt="">
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="row justify-content-center align-items-center g-2">
                <div class="col a_black text-decoration-underline user_chat">{{value.user_to.username}}</div>
              </div>
            <div class="row col-12 justify-content-start last_chat_log">
              {% if value.last_message.viewed or value.last_message.user_from == value.user_from %}
                  <div class="col-10 text-start message" style="word-break: break-all;">{{value.last_message.user_from.username}}: {{value.last_message.message}}</div>
              {% elif value.last_message == "Напишите свое первое сообщение!" %}
              <div class="col-10 text-start message" style="word-break: break-all;">Напишите свое первое сообщение!</div>
              {% else %}
                  <div class="col-10 text-start message" style="word-break: break-all;">{{value.last_message.user_from.username}}:
                  {{value.last_message.message}}</div> <div class="new_mes"></div>
              {% endif %}
              </div>
            </div>
          
          <div class="room-name" style="display: none;">{{key}}</div>
        </a>
        {% endif %}
      {% endif %}
      <div class="room_id" style="display: none;">{{value.user_from.pk}}{{value.user_to.pk}}</div>
    {% endfor %}
    {% for key, value in chats.items %}
      {% if value.viewed %}
        {% if value.user_to == user %}
          <a href="{% url 'chat' value.user_from.pk user.pk %}" class="row col-12 justify-content-between align-items-center g-2 border-bottom border-top p-3 flex-nowrap a_black list chat">
            <div class="img">
              <img src="{{value.user_from.image.url}}" class="col" alt="">
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="row justify-content-center align-items-center g-2">
                <div class="col a_black text-decoration-underline user_chat">{{value.user_from.username}}</div>
              </div>
              <div class="row col-12 justify-content-start last_chat_log">
              {% if value.last_message.viewed or value.last_message.user_from == value.user_to %}
                  <div class="col-10 text-start message" style="word-break: break-all;">{{value.last_message.user_from.username}}: {{value.last_message.message}}</div>
              {% elif value.last_message == "Напишите свое первое сообщение!" %}
              <div class="col-10 text-start message" style="word-break: break-all;">Напишите свое первое сообщение!</div>
              {% else %}
                  <div class="col-10 text-start message" style="word-break: break-all;">{{value.last_message.user_from.username}}:
                  {{value.last_message.message}}</div> <div class="new_mes"></div>
              {% endif %}
              </div>
            </div>
            <div class="room-name" style="display: none;">{{key}}</div>
            <script class="User_id" type="application/json">{{value.user_from.pk}}</script>
          </a>
          
        {% elif value.user_from == user %}
          <a href="{% url 'chat' user.pk value.user_to.pk %}" class="row col-12 justify-content-start align-items-start g-2 border-bottom border-top p-3 flex-nowrap a_black list chat">
            <div class="img">
              <img src="{{value.user_to.image.url}}" class="col" alt="">
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="row justify-content-center align-items-center g-2">
                <div class="col a_black text-decoration-underline user_chat">{{value.user_to.username}}</div>
              </div>
            <div class="row col-12 justify-content-start last_chat_log">
              {% if value.last_message.viewed or value.last_message.user_from == value.user_from %}
                  <div class="col-10 text-start message" style="word-break: break-all;">{{value.last_message.user_from.username}}: {{value.last_message.message}}</div>
              {% elif value.last_message == "Напишите свое первое сообщение!" %}
              <div class="col-10 text-start message" style="word-break: break-all;">Напишите свое первое сообщение!</div>
              {% else %}
                  <div class="col-10 text-start message" style="word-break: break-all;">{{value.last_message.user_from.username}}:
                  {{value.last_message.message}}</div> <div class="new_mes"></div>
              {% endif %}
              </div>
            </div>
          
          <div class="room-name" style="display: none;">{{key}}</div>
        </a>
        {% endif %}
      {% endif %}
      <div class="room_id" style="display: none;">{{value.user_from.pk}}{{value.user_to.pk}}</div>
      
    {% empty %}
      <div class="row justify-content-center align-items-center g-2 text-center no_chats">
        <h4 class="col">Вы пока ни с кем не общаетесь</h4>
      </div>
    {% endfor %}
    <script src="{% static 'KODBURG/js/messager.js' %}"></script>

</div>

{% endblock content %}


