{% extends 'KODBURG/shablon.html' %}

{% block title %}Форма смены пароля{% endblock title %}

{% block content %}
<div class="container">
    <form method="POST" class="row justify-content-center align-items-center g-2 text-center">
    {% csrf_token %} 
        {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endif %}
    {% for i in form %}
        

        <label
        for="{{i.id_for_label}}"
        class="from-label col-12"
        style="color: black !important"
        >{{i.label}}</label
        >
        {{i}}
    
    {% endfor %}
    <button type="submit" class="btn btn-primary">Подтвердить изменения</button>
    </form>
</div>

{% endblock content %}