{% extends 'KODBURG/shablon_main.html' %} {% block title %}Удаление поста
{{Blog_list.title}}{% endblock title %} {% block content %} 
{% if user.username in request.path %}
<form action="" method="post">
  {% csrf_token %}
  <div class="row justify-content-around align-items-center list text-center">
    <h3 class="col-12">Вы уверены в этом?</h3>
    <button class="btn btn-danger col-5 p-2" type="submit">Да</button>
    <a
      class="btn btn-primary col-5 p-2"
      type="button"
      href="{% url 'my_blog' %}"
      >Нет</a
    >
  </div>
</form>

{% else %}
<div class="row justify-content-center align-items-center text-center">
  <h5 class="col">
    Пытаться удалить чужой пост и выставить на посмешище другого человека - это
    так низко, ну просто фу!<br />
    Для таких как ты приготовлен отдельный котел в аду!<br />
    А теперь живо на педыдущую страницу!<br />
  </h5>
</div>
{% endif %} 
{% endblock content %}






